<div class="article-page">

  <div class="banner" [hidden]="loading">
    <div class="container">
      <h1>{{ article?.name }}</h1>
    </div>
  </div>

  <div class="container page" [hidden]="loading">

    <div class="row article-content">
      <div class="col-md-12">

        <div [innerHTML]="article?.body"></div>

      </div>
    </div>

    <hr />

    <div class="article-actions" [hidden]="loading">
      <span [hidden]="!canModify">
        <a class="btn btn-sm btn-outline-secondary">
          <i class="ion-edit"></i> Edit Article
        </a>

        <button class="btn btn-sm btn-outline-danger"
          [ngClass]="{disabled: isDeleting}"
          (click)="deleteArticle()">
          <i class="ion-trash-a"></i> Delete Article
        </button>
      </span>
    </div>

  </div>
</div>
