<div class="container">
  <a class="navbar-brand justify-content-start" routerLink="/">conduit</a>

  <ul *appShowAuthed="false"
    class="nav nav-pills justify-content-center">

    <li class="nav-item">
      <a class="nav-link active"
        routerLink="/">
        Home
      </a>
    </li>

    <li class="nav-item" [hidden]="isAuthenticated">
      <a class="nav-link"
        routerLink="/login"
        routerLinkActive="active">
        Sign in
      </a>
    </li>

    <li class="nav-item" [hidden]="isAuthenticated">
      <a class="nav-link"
        routerLink="/register"
        routerLinkActive="active">
        Sign up
      </a>
    </li>

    <li class="nav-item" [hidden]="!isAuthenticated || !adminRole">
      <a class="nav-link"
        routerLink="/resource"
        routerLinkActive="active">
        Resources
      </a>
    </li>

  </ul>

  <!-- Show this for logged in users -->
  <ul *appShowAuthed="true"
    class="nav nav-pills justify-content-center">

    <li class="nav-item">
      <a class="nav-link active"
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        Home
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link"
        routerLink="/editor"
        routerLinkActive="active">
        <i class="ion-compose"></i>&nbsp;New Article
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link"
        routerLink="/settings"
        routerLinkActive="active">
        <i class="ion-gear-a"></i>&nbsp;Settings
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link"
        [routerLink]="['/profile', currentUser.username]"
        routerLinkActive="active">
        <img [src]="currentUser.image" *ngIf="currentUser.image" class="user-pic" />
        {{ currentUser.username }}
      </a>
    </li>

  </ul>
</div>