.container-fluid {
    padding-top: 15px;
    padding-bottom: 15px;
}

.scroll-btn {
    color: black !important;
    cursor: pointer;
}

.navbar-nav .nav-item+.nav-item {
    margin-left: 0 !important;
}

.navbar {
    /* background-image: linear-gradient(#aff4ff, #62d4f4); */
    background: white;
    height: 70px;
}