.row {
    padding: 15px !important;
}

.bar-container {
    height: 600px;
    /* border: 1px solid black; */
}

.bar-description {
    height: 400px;
    overflow-y: scroll;
}

img {
    width: 140px;
    height: 140px;
}

.image-border {
    left: 1px;
}