<div class="container-fluid">
    <ngb-carousel *ngIf="cards">
      <ng-template ngbSlide *ngFor="let slide of cards">

          <div class="row">

            <div class="card">
              <img src="https://via.placeholder.com/300" class="card-img-top" />
              <h3>{{slide[0].name}}</h3>
              <p>{{slide[0].description}}</p>
            </div>
          
            <div class="card">
              <img src="https://via.placeholder.com/300" class="card-img-top" />
              <h3>{{slide[1].name}}</h3>
              <p>{{slide[1].description}}</p>
            </div>
          
            <div class="card">
              <img src="https://via.placeholder.com/300" class="card-img-top" />
              <h3>{{slide[2].name}}</h3>
              <p>{{slide[2].description}}</p>
            </div>
          </div>

      </ng-template>
    </ngb-carousel>
</div>