<div class="container-fluid">
    <div class="row slide m-auto align-middle">
      <div class="col-xs-12">
        <h3>Vincent Du</h3>
        <div class="slide-content">
            Principal Software Engineer<br />Bay Area
        </div>
      </div>
      <div class="box show-box-top"></div>
      <div class="box show-box-top"></div>
      <div class="box show-box-top"></div>
      <div class="box show-box-top"></div>
      <div class="box show-box-top"></div>

      <div class="box show-box-bottom"></div>
      <div class="box show-box-bottom"></div>
      <div class="box show-box-bottom"></div>
      <div class="box show-box-bottom"></div>
      <div class="box show-box-bottom"></div>
    </div>
</div>