<div class="container-fluid" *ngIf="slides">
    <div class="row slide m-auto align-middle">
      <div class="col-xs-12">
        <h3>{{slides[0]?.name}}</h3>
        <p [innerHTML]="slides[0]?.body"></p>
      </div>
      <div class="box show-box-top"></div>
      <div class="box show-box-top"></div>
      <div class="box show-box-top"></div>
      <div class="box show-box-top"></div>
      <div class="box show-box-top"></div>

      <div class="box show-box-bottom"></div>
      <div class="box show-box-bottom"></div>
      <div class="box show-box-bottom"></div>
      <div class="box show-box-bottom"></div>
      <div class="box show-box-bottom"></div>
    </div>
</div>