.row {
    display: flex !important;
    justify-content: center !important;
    overflow-y: scroll;
    height: 332px;
}

.carousel.slide {
    background: aqua !important;
    padding: 20px;
}

.card {
    margin: 0 30px !important;
}

.card img {
    width: 100% !important;
    max-height: 250px !important;
}

.container-fluid {
    height: 600px !important;
    padding-top: 125px;
    border: 1px solid black;
}