.card {
    height: 200px !important;
    margin-top: 0px !important;
    margin-bottom: 30px !important;
    border: 2px solid black !important;
    margin-left: 15px !important;
    margin-right: 15px !important;
    width: 350px !important;
    height: 350px !important;
    padding: 15px;
    box-shadow: 5px 10px lightgrey;
}

.row {
    /* padding: 70px 20px 20px 20px; */
    /* height: 500px; */
    /* margin-top: 50px; */
    justify-content: center;
}

.container-fluid {
    max-width: 1500px !important;
    /* height: 600px; */
    /* background: rgb(61, 61, 62); */
    /* border: 1px solid black; */
}

.button-row {
    position: absolute;
    top: 290px;
    margin: auto;
    left: 125px;
}

.jumbotron {
    margin-bottom: 0 !important;
    background: white !important;
    color: black;
    text-align: center;
}

img {
    width: 100%;
    height: 100%;
    z-index: 100;
}

.pop-in {
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: 200;
    background: white;
    border: 1px solid black;
    min-width: 250px;
    min-height: 100px;
    padding: 10px;
    width: 90%;
    height: 90%;
}

.demo-btn {
    margin-left: 10px !important;
}

.card-header {
    text-align: center;
}