<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>

<div class="container-fluid" id="home-card-carousel">
    <ngb-carousel *ngIf="cards">
      <ng-template ngbSlide *ngFor="let slide of cards">

          <div class="row">
            <div  class="card" 
                  *ngFor="let card of slide" 
                  [@openClose]="isOpen ? 'open' : 'closed'">
              <img  *ngIf="card.image"
                    src="{{card.image}}" 
                    class="card-img-top" />
              <h3>{{card.name}}</h3>
              <p>{{card.description}}</p>
              <p>{{card.body}}</p>
            </div>
          </div>

      </ng-template>
    </ngb-carousel>
</div>