.row {
    padding: 15px !important;
}

.bar-container {
    min-height: 500px;
    /* border: 1px solid black; */
}

.bar-description {
    min-height: 400px;
    max-height: 400px;
}

.card-body {
    height: 200px !important;
}

img {
    width: 140px;
    height: 140px;
}

.image-border {
    left: 1px;
}

.jumbotron {
    background: white !important;
    color: black;
    text-align: center;
}