.row {
    display: flex !important;
    justify-content: center !important;
    /* overflow-y: scroll; */
    /* height: 500px; */
    width: 100% !important;
}

.jumbotron {
    background: #2d76c4 !important;
    color: white !important;
}

.carousel.slide {
    /* background: aqua !important; */
    padding: 20px;
}

.card {
    margin: 0 30px !important;
    margin-bottom: 50px !important;
    width: 400px !important;
}

.card img {
    width: 400px !important;
    height: 300px !important;
}

.container-fluid {
    /* height: 600px !important; */
    padding-top: 50px;
    /* border: 1px solid black; */
}

h3 {
    text-align: center;
}

a.ng-star-inserted, a.ng-star-inserted {
    width: 100px !important;
    height: 100px !important;
    background-color: gray !important;
}

.card > p {
    padding: 5px;
}

.card-title {
    margin-top: 10px;
}

.row.single {
    width: 500px !important;
}