<div class="container-fluid" id="home-card-carousel">
    <div    class="row m-auto" *ngIf="cards"
            [ngClass]="{'single': smallWindow}">
        <div  class="card" 
                *ngFor="let card of cards" 
                [@openClose]="isOpen ? 'open' : 'closed'">
            <img  *ngIf="card.image"
                src="{{card.image}}" 
                class="card-img-top" />
            <h3 class="card-title">{{card.name}}</h3>
            <p [innerHTML]="card.description"></p>
            <p [innerHTML]="card.body"></p>
        </div>
    </div>
</div>