svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vw;
}

#jobs-view {
    display: inline;
}

#jobs-horizontal-view {
    display: none;
}

header {
    /* background-image: linear-gradient(#84dcea, #2d76c4); */
    position: absolute;
    height: 500px;
    width: 100%;
}

.container-fluid {
    padding-top: 50px;
    min-height: 600px;
    /* background-color: rgb(116, 239, 231); */
}

.profile-card {
    max-width: 600px;
    height: 550px;
    opacity: 0;
    margin: auto;
}

.profile-card-body {
    height: 450px !important;
    padding: 15px !important;
}

.jobs-area {
    max-width: 900px;
    opacity: 0;
    margin: auto;
}

.job-body {
    padding: 15px;
    min-height: 450px;
    max-height: 450px;
}

.jobs-summary {
    min-height: 600px;
    margin-bottom: 100px;
}

#jobs-horizontal-view {
    margin-top: 50px;
}

.profile-body {
    max-height: 400px;
}

.card-title {
    text-align: center;
}

.jobs-title {
    text-align: center;
}

.profile-pic-section {
    margin-bottom: 50px;
}

.profile-pic {
    margin-right: 10px;
    border-radius: 150px;
    width: 300px;
    display: flex;
    margin: auto;
}

.profile-bio {
    max-width: 1000px;
}

.border-less {
    border: none !important;
    box-shadow: none !important;
}

.slide-left {
    position: relative;
    left: 400px;
    opacity: 0;
    -webkit-animation: slide-left 1s forwards;
    /* -webkit-animation-delay: 1s; */
    animation: slide-left 1s forwards;
    /* animation-delay: 1s; */
}

.slide-middle {
    position: relative;
    opacity: 0;
    -webkit-animation: slide-middle 1s forwards;
    /* -webkit-animation-delay: 1s; */
    animation: slide-middle 1s forwards;
    /* animation-delay: 1s; */
}

.slide-right {
    position: relative;
    right: -400px;
    opacity: 0;
    -webkit-animation: slide-right 1s forwards;
    /* -webkit-animation-delay: 1s; */
    animation: slide-right 1s forwards;
    /* animation-delay: 1s; */
}

.hide-view {
    position: relative;
    opacity: 1;
    -webkit-animation: hide-animation 1s forwards;
    animation: hide-animation 1s forwards;
}

@-webkit-keyframes hide-animation {
    100% { opacity: 0; }
}


@keyframes hide-animation {
    100% { opacity: 0; }
}

@-webkit-keyframes slide-left {
    100% {
        left: 1000px;
        opacity: 1;
    }
}

@keyframes slide-left {
    100% {
        left: 1000px;
        opacity: 1;
    }
}

@-webkit-keyframes slide-middle {
    100% {
        opacity: 1;
    }
}

@keyframes slide-middle {
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes slide-right {
    100% {
        right: 0;
        opacity: 1;
    }
}

@keyframes slide-right {
    100% {
        right: 0;
        opacity: 1;
    }
}

@media all and (max-width: 600px) {
    
    #jobs-view {
        display: none;
    }

    #jobs-horizontal-view {
        display: inline;
    }

}

