.row {
    display: flex !important;
    justify-content: center !important;
    /* overflow-y: scroll; */
    /* height: 500px; */
    width: 100% !important;
}

.card {
    border: none;
}

.card-horizontal-view .card-title {
    text-align: left;
}

.card-vertical-view {
    display: none !important;
}

.card-horizontal-view {
    display: flex !important;
    height: 500px;
    margin-bottom: 100px;
}

.image-column {
    max-width: 760px;
}

.summary-column {
    word-wrap: break-word;
}

.summary-body > span {
    text-align: center;
}

.jumbotron {
    background: white !important;
    color: black !important;
    text-align: center;
    margin-bottom: 0 !important;
}

.carousel.slide {
    /* background: aqua !important; */
    padding: 20px;
}

.card {
    margin: 0 30px !important;
    margin-bottom: 50px !important;
    width: 400px !important;
}

.card-caption {
    margin: auto;
}

.container-fluid {
    /* height: 600px !important; */
    padding-top: 50px;
    /* border: 1px solid black; */
}


h3 {
    text-align: center;
}

a.ng-star-inserted, a.ng-star-inserted {
    width: 100px !important;
    height: 100px !important;
    background-color: gray !important;
}

.card > p {
    padding: 5px;
}

.card-title {
    margin-top: 10px;
}

.row.single {
    width: 500px !important;
}

@media all and (max-width: 768px) {

    .card-vertical-view {
        display: flex !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }   
    
    .card-horizontal-view {
        display: none !important;
    }

}