<header>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"
    preserveAspectRatio="none">
        <polygon fill="white" points="0, 100 100, 0 100, 100" />
    </svg>
</header>

<div class="container-fluid" id="profile-view">

    <div class="row" *ngIf="cards">
        <div class="col-xs-12 col-lg-6 wrapper">
            <div    class="card profile-card border-less ml-md-auto"
                    [ngClass]="{'slide-left': slideIn}">
                <div class="row no-gutters">
                    <div class="col-lg-4">
                        <img class="profile pic" src="{{cards[0].image}}" alt="...">
                    </div>
                    <div class="col-lg-8 profile-body">
                        <div class="card-body">
                            <h5 class="card-title">{{cards[0].name}}</h5>
                            <p class="card-text" [innerHTML]="cards[0].description"></p>
                            <p class="card-text" [innerHTML]="cards[0].body"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-6 wrapper">
            <div    class="card profile-card"
                    [ngClass]="{'slide-right': slideIn}">
                <div class="card-body">
                    <h5 class="card-title">{{cards[1].name}}</h5>
                    <p class="card-text" [innerHTML]="cards[1].body"></p>
                </div>
            </div>
        </div>
    </div>

</div>