<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>

<div class="container-fluid" id="home-grid">
  
    <div class="row" [@openClose]="isOpen ? 'open' : 'closed'">
      <div  class="card col-xs-12 col-md-4" 
            *ngFor="let grid of grids"
            (mouseover)="togglePopInEffect(grid._id)"
            (mouseout)="togglePopInEffect(grid._id)">
          <img  class="grid-image"
                *ngIf="grid.image"
                src="{{grid.image}}" />
          <div  class="pop-in" 
                [@popInCenter]="gridAnims[grid._id].isPop ? 'appear' : 'disappear'">              
            <h5>{{grid.name}}</h5><br />
            <p>{{grid.description}}</p>
            <button class="btn btn-secondary"
                    (click)="viewArticle(grid._id)">View</button>
            <a class="demo-btn btn btn-secondary" *ngIf="grid.demo"
                    href="{{grid.demo}}" target="_blank">Demo</a>
          </div>
        </div>
    </div>
</div>