.container-fluid {
    padding-top: 50px;
    min-height: 500px;
    /* background-color: rgb(116, 239, 231); */
}

.profile-card {
    max-width: 600px;
    height: 400px;
}

.profile-pic {
    width: 300px !important;
    height: 300px !important;
}