/* * {
    color: gray;
} */

.grid {
    margin-top: 0px !important;
    margin-bottom: 30px !important;
    border: 2px solid lightgrey !important;
    margin-left: 15px !important;
    margin-right: 15px !important;
    width: 350px;
    height: 350px;
    padding: 15px;
    display: block;
    position: relative;
    background: white;
    transition: box-shadow linear 0.5s;
}

.grid:hover {
    box-shadow: 5px 5px grey;
}

.categories-row {
    margin-top: 15px;
}

.row {
    /* padding: 70px 20px 20px 20px; */
    /* height: 500px; */
    /* margin-top: 50px; */
    justify-content: center;
}

.container-fluid {
    max-width: 1500px !important;
    /* height: 600px; */
    /* background: rgb(61, 61, 62); */
    /* border: 1px solid black; */
}

.button-row {
    position: absolute;
    top: 290px;
    margin: auto;
    left: 125px;
}

.jumbotron {
    margin-bottom: 0 !important;
    background: white !important;
    color: black;
    text-align: center;
}

h1, .lead, h5, .grid-desc {
    color: black;
}

img {
    width: 100%;
    height: 100%;
    z-index: 100;
}

.pop-in {
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: 200;
    background: white;
    border: 1px solid black;
    min-width: 250px;
    min-height: 100px;
    padding: 10px;
    width: 90%;
    height: 90%;
}

.demo-btn {
    margin-left: 10px !important;
}

.card-header {
    text-align: center;
}

.categories-row {
    margin-bottom: 50px;
}

.hide {
    -webkit-animation: hide-animation 1s forwards;
    animation: hide-animation 1s forwards;
}

.show {
    -webkit-animation: show-animation 1s forwards;
    animation: show-animation 1s forwards;
}

.nav-link {
    cursor: pointer;
}

@-webkit-keyframes hide-animation {
    100% { 
        opacity: 0;
        width: 0px;
        height: 0px;
        padding: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        border: 0px;
    }
}

@keyframes hide-animation {
    100% {
        opacity: 0;
        width: 0px;
        height: 0px;
        padding: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        border: 0px;
    }
}

@-webkit-keyframes show-animation {
    0% {
        opacity: 0;
        width: 0px;
        height: 0px;
        padding: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        border: 0px;
    }

    100% { 
        margin-top: 0px !important;
        margin-bottom: 30px !important;
        border: 2px solid grey !important;
        margin-left: 15px !important;
        margin-right: 15px !important;
        width: 350px;
        height: 350px;
        padding: 15px;
    }
}

@keyframes show-animation {
    0% {
        opacity: 0;
        width: 0px;
        height: 0px;
        padding: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        border: 0px;
    }

    100% {
        margin-top: 0px !important;
        margin-bottom: 30px !important;
        border: 2px solid grey !important;
        margin-left: 15px !important;
        margin-right: 15px !important;
        width: 350px;
        height: 350px;
        padding: 15px;
    }
}

